{% extends 'base.html' %}

{% block title  %} Edit Tag {%endblock%}

{% block content %}

<div>
  <h1>Edit a Tag</h1>
    
</div>

<div>
    <form method="POST" action="/tags/{{tag.id}}/edit">
        <div>
           <label for="name">Name</label> 
           <div>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter a name for the tag" value="{{tag.name}}">
           </div>
        </div>
    
        <div>
            <a href="/tags"> Cancel</a>
            <button type="submit" class="submitbutton"> Edit </button>
        </div>
    </form>
</div>


{% endblock %}