{% extends 'base.html' %}

{% block title  %}New Tag {%endblock%}

{% block content %}

<h1> Create a tag </h1>

<div>
    <form method="POST" action="/tags/new">
        <div>
           <label for="name">Name</label> 
           <div>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter a name for the tag">
           </div>
        </div>

    
        <div>
            <a href="/tags"> Cancel</a>
            <button type="submit" class="submit-button"> Add </button>
        </div>
    </form>
</div>

{% endblock %}